---
import Layout from '../layouts/Layout.astro';
import AnimatedButton from '../components/AnimatedButton.astro';
---

<Layout title="TecFiltrante">

		<img 
			slot="imagen"
			src="https://thumb.photo-ac.com/ae/aeebd0d0c7cff537abf01b9d50ac03d9_t.jpeg" />
		
		<h1>¡Purifica tu negocio con nosotros!</h1>
		<h3>Somos especialistas en el aprovechamiento integral del agua para consumo humano en bares, restaurantes, cafeterías, restaurantes de comida rápida, tiendas de autoservicio y residencias.</h3>

        <AnimatedButton text="Cotiza sin costo" goesTo="/contacto" theme="light"/>

</Layout>

<style>
	main {
		background-color: white;
	}
	img {
		filter:opacity(40%);
		height: 100vh;
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0px;
		z-index: -10;

	}
</style>
