---
import Layout from '../layouts/Layout.astro';
---
<Layout title="TecFiltrante">
	<main>

		<img 
			src="https://thumb.photo-ac.com/ae/aeebd0d0c7cff537abf01b9d50ac03d9_t.jpeg" />

	</main>
</Layout>